@font-face {
  font-family: 'Impact', sans-serif;
  src: url("../fonts/Impact.ttf"); }
/*
Created by Fabio Baser
All rights reserved 2016
*/
/*
    Created on : 19.01.2017, 11:53:52
    Author     : fabiobaser
*/
/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto; }

/* Buttons */
.gwm_menuBtn {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit; }
  .gwm_menuBtn img {
    width: 30px;
    filter: invert(0%);
    transition: all .5s ease-in-out; }

.gwm_menuBtn:focus {
  outline: 0; }

.gwm_menuOpen {
  position: fixed;
  z-index: 100;
  top: 3vw;
  right: 3vw;
  color: #939391;
  pointer-events: visible; }

.gwm_menuClose {
  position: absolute;
  top: 3vw;
  right: 3vw;
  font-size: 0.75em;
  z-index: 100; }

/* Menu */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  z-index: 100; }
  .menu a {
    text-decoration: none;
    color: #000;
    outline: none; }

.js .menu {
  pointer-events: none; }

.js .menu--open {
  pointer-events: visible; }

.gwm_menuInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 20vh 3em;
  margin: 0;
  background: #FF0066;
  overflow: hidden;
  text-transform: uppercase; }

.gwm_menuItem {
  padding: 0.15em; }

.js .gwm_menuItem {
  transform: translate3d(-13em, 0, 0);
  transition: transform 0s 0.4s; }

.gwm_menuClose {
  opacity: 0; }

.menu--open .gwm_menuItem,
.menu--open .gwm_menuClose {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.4s 0.135s, transform 0.4s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1); }

.menu--open .gwm_menuItem:nth-child(2) {
  transition-delay: 0.165s; }

.menu--open .gwm_menuItem:nth-child(3) {
  transition-delay: 0.195s; }

.menu--open .gwm_menuItem:nth-child(4) {
  transition-delay: 0.225s; }

.menu .gwm_menuLink {
  font-size: 4em;
  color: #FAFAFA;
  font-weight: bold;
  font-family: 'Poppins', sans-serif; }

.menu .gwm_menuLink:hover,
.menu .gwm_menuLink:focus {
  outline: none;
  color: #000; }

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0; }

/* --------------------------------

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #7f8c97;
  background-color: #e9f0f5; }

a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Bitter", serif; }

img {
  max-width: 100%; }

h1, h2 {
  font-family: "Bitter", serif;
  font-weight: bold; }

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.gwm-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }
  .gwm-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both; }

/* --------------------------------

Main components

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49; }
  header h1 {
    color: #ffffff;
    font-size: 18px;
    font-size: 1.125rem; }
  @media only screen and (min-width: 1170px) {
    header {
      height: 300px;
      line-height: 300px; }
      header h1 {
        font-size: 24px;
        font-size: 1.5rem; } }

#gwm-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }
  #gwm-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed; }
  @media only screen and (min-width: 1170px) {
    #gwm-timeline {
      margin-top: 3em;
      margin-bottom: 3em; }
      #gwm-timeline::before {
        left: 50%;
        margin-left: -2px; } }

.gwm-timeline-block {
  position: relative;
  margin: 2em 0; }
  .gwm-timeline-block::after {
    clear: both;
    content: "";
    display: table; }
  .gwm-timeline-block:first-child {
    margin-top: 0; }
  .gwm-timeline-block:last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: 1170px) {
    .gwm-timeline-block {
      margin: 4em 0; }
      .gwm-timeline-block:first-child {
        margin-top: 0; }
      .gwm-timeline-block:last-child {
        margin-bottom: 0; } }

.gwm-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }
  .gwm-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px; }
  .gwm-timeline-img.gwm-picture {
    background: #75ce66; }
  .gwm-timeline-img.gwm-movie {
    background: #c03b44; }
  .gwm-timeline-img.gwm-location {
    background: #f0ca45; }
  @media only screen and (min-width: 1170px) {
    .gwm-timeline-img {
      width: 60px;
      height: 60px;
      left: 50%;
      margin-left: -30px;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden; }
      .cssanimations .gwm-timeline-img.is-hidden {
        visibility: hidden; }
      .cssanimations .gwm-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: gwm-bounce-1 0.6s;
        -moz-animation: gwm-bounce-1 0.6s;
        animation: gwm-bounce-1 0.6s; } }

@-webkit-keyframes gwm-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes gwm-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5); }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2); }
  100% {
    -moz-transform: scale(1); } }
@keyframes gwm-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.gwm-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed; }
  .gwm-timeline-content::after {
    clear: both;
    content: "";
    display: table; }
  .gwm-timeline-content h2 {
    color: #303e49; }
  .gwm-timeline-content p, .gwm-timeline-content .gwm-read-more, .gwm-timeline-content .gwm-date {
    font-size: 13px;
    font-size: 0.8125rem; }
  .gwm-timeline-content .gwm-read-more, .gwm-timeline-content .gwm-date {
    display: inline-block; }
  .gwm-timeline-content p {
    margin: 1em 0;
    line-height: 1.6; }
  .gwm-timeline-content .gwm-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: #ffffff;
    border-radius: 0.25em; }
    .no-touch .gwm-timeline-content .gwm-read-more:hover {
      background-color: #bac4cb; }
  .gwm-timeline-content .gwm-date {
    float: left;
    padding: .8em 0;
    opacity: .7; }
  .gwm-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff; }
  @media only screen and (min-width: 768px) {
    .gwm-timeline-content h2 {
      font-size: 20px;
      font-size: 1.25rem; }
    .gwm-timeline-content p {
      font-size: 16px;
      font-size: 1rem; }
    .gwm-timeline-content .gwm-read-more, .gwm-timeline-content .gwm-date {
      font-size: 14px;
      font-size: 0.875rem; } }
  @media only screen and (min-width: 1170px) {
    .gwm-timeline-content {
      margin-left: 0;
      padding: 1.6em;
      width: 45%; }
      .gwm-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #ffffff; }
      .gwm-timeline-content .gwm-read-more {
        float: left; }
      .gwm-timeline-content .gwm-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem; }
      .gwm-timeline-block:nth-child(even) .gwm-timeline-content {
        float: right; }
        .gwm-timeline-block:nth-child(even) .gwm-timeline-content::before {
          top: 24px;
          left: auto;
          right: 100%;
          border-color: transparent;
          border-right-color: #ffffff; }
        .gwm-timeline-block:nth-child(even) .gwm-timeline-content .gwm-read-more {
          float: right; }
        .gwm-timeline-block:nth-child(even) .gwm-timeline-content .gwm-date {
          left: auto;
          right: 122%;
          text-align: right; }
      .cssanimations .gwm-timeline-content.is-hidden {
        visibility: hidden; }
      .cssanimations .gwm-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: gwm-bounce-2 0.6s;
        -moz-animation: gwm-bounce-2 0.6s;
        animation: gwm-bounce-2 0.6s; } }

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .gwm-timeline-block:nth-child(even) .gwm-timeline-content.bounce-in {
    -webkit-animation: gwm-bounce-2-inverse 0.6s;
    -moz-animation: gwm-bounce-2-inverse 0.6s;
    animation: gwm-bounce-2-inverse 0.6s; } }
@-webkit-keyframes gwm-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes gwm-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes gwm-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes gwm-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes gwm-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes gwm-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

/*# sourceMappingURL=client.css.map */
