.tilter {
    display: block;
    position: relative;
    width: 300px;
    height: 415px;
    margin: 1.5em 2.5em;
    color: #fff;
    flex: none;
    perspective: 1000px;
}

.tilter * {
    pointer-events: none;
}

.tilter:hover,
.tilter:focus {
    color: #fff;
    outline: none;
}

/*
.tilter__figure,
.tilter__deco,
.tilter__caption {
        will-change: transform;
}*/

.tilter__figure,
.tilter__image {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.tilter__figure > * {
    transform: translateZ(0px); /* Force correct stacking order */
}

.smooth .tilter__figure,
.smooth .tilter__deco--overlay,
.smooth .tilter__deco--lines,
.smooth .tilter__deco--shine div,
.smooth .tilter__caption {
    transition: transform 0.2s ease-out;
}

.tilter__figure {
    position: relative;
}

.tilter__figure::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    box-shadow: 0 30px 20px rgba(35,32,39,0.5);
}

.tilter__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tilter__deco--overlay {
    background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
}

.tilter__deco--shine div {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.tilter__deco--lines {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}

.tilter__caption {
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4em;
}

.tilter__title {
    margin: 0;
    font-weight: normal;
    font-size: 2.5em;
    font-family: 'Roboto', serif;
    font-weight: 300;
    line-height: 1;
}

.tilter__description {
    margin: 1em 0 0 0;
    font-size: 1em;
    letter-spacing: 0.15em;
}

/* Example 4 (caption sliding in) */
.tilter--4 .tilter__deco--overlay {
    background-image: linear-gradient(0deg, rgba(255, 0, 146, 0.5), rgba(255, 0, 146, 0), rgba(255, 0, 146, 0));
}

#tilterOverlay2 {
    background-image: linear-gradient(0deg, rgba(182, 255, 0, 0.5), rgba(255, 0, 146, 0), rgba(255, 0, 146, 0));
}

#tilterOverlay3 {
    background-image: linear-gradient(0deg, rgba(186, 1, 255, 0.5), rgba(255, 0, 146, 0), rgba(255, 0, 146, 0));
}

@media screen and (min-width: 30em) {
    .tilter--4 .tilter__deco--lines {
        transform: scale3d(0.8,0.8,1);
        transition: transform 0.4s;
    }
    .tilter--4:hover .tilter__deco--lines {
        transform: scale3d(1,1,1);
    }
    .tilter--4 .tilter__title,
    .tilter--4 .tilter__description {
        transform: translate3d(0,80px,0);
        opacity: 0;
        transition: transform 0.4s, opacity 0.4s;
    }
    .tilter--4:hover .tilter__description {
        transition-delay: 0.1s;
    }
    .tilter--4:hover .tilter__title,
    .tilter--4:hover .tilter__description {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}
