/*
Created by Fabio Baser
All rights reserved 2016
*/
/*
    Created on : 19.01.2017, 11:53:52
    Author     : fabiobaser
*/
/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto; }

/* Buttons */
.gwm_menuBtn {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit; }
  .gwm_menuBtn img {
    width: 30px;
    filter: invert(0%);
    transition: all .5s ease-in-out; }

.gwm_menuBtn:focus {
  outline: 0; }

.gwm_menuOpen {
  position: fixed;
  z-index: 100;
  top: 3vw;
  right: 3vw;
  color: #939391;
  pointer-events: visible; }

.gwm_menuClose {
  position: absolute;
  top: 3vw;
  right: 3vw;
  font-size: 0.75em;
  z-index: 100; }

/* Menu */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  z-index: 100; }
  .menu a {
    text-decoration: none;
    color: #000;
    outline: none; }

.js .menu {
  pointer-events: none; }

.js .menu--open {
  pointer-events: visible; }

.gwm_menuInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 20vh 3em;
  margin: 0;
  background: #FF0066;
  overflow: hidden;
  text-transform: uppercase; }

.gwm_menuItem {
  padding: 0.15em; }

.js .gwm_menuItem {
  transform: translate3d(-13em, 0, 0);
  transition: transform 0s 0.4s; }

.gwm_menuClose {
  opacity: 0; }

.menu--open .gwm_menuItem,
.menu--open .gwm_menuClose {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.4s 0.135s, transform 0.4s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1); }

.menu--open .gwm_menuItem:nth-child(2) {
  transition-delay: 0.165s; }

.menu--open .gwm_menuItem:nth-child(3) {
  transition-delay: 0.195s; }

.menu--open .gwm_menuItem:nth-child(4) {
  transition-delay: 0.225s; }

.menu .gwm_menuLink {
  font-size: 4em;
  color: #FAFAFA;
  font-weight: bold;
  font-family: 'Poppins', sans-serif; }

.menu .gwm_menuLink:hover,
.menu .gwm_menuLink:focus {
  outline: none;
  color: #000; }

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0; }

@font-face {
  font-family: 'Impact', sans-serif;
  src: url("../fonts/Impact.ttf"); }
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body, main, section {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Inconsolata', monospace;
  color: #141417;
  background: #FAFAFA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

::-webkit-scrollbar {
  display: none; }

a:-webkit-any-link {
  text-decoration: none !important; }

section div {
  width: 100%;
  padding-top: 40px;
  margin-bottom: 100px;
  text-align: center;
  margin-top: 0;
  position: relative; }
section .sectionNumber {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  padding-right: 50px;
  font-size: 150px;
  color: rgba(0, 0, 0, 0.3); }
section .sectionName {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 0px 3px 5px rgba(50, 50, 50, 0.3);
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px); }

.fixedHeadline {
  position: fixed;
  z-index: 100;
  left: 3vw;
  top: 3vw;
  padding: 0;
  margin: 0;
  margin-top: -4px;
  color: #262626;
  opacity: 0;
  font-size: 23px;
  font-family: 'Impact', sans-serif;
  text-transform: uppercase;
  transition: all .5s ease-in-out; }
  .fixedHeadline span {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px; }
  .fixedHeadline a {
    color: #262626;
    cursor: pointer; }

/*
Created by Fabio Baser
All rights reserved 2016
*/
/*
    Created on : 26.01.2017, 14:49:45
    Author     : fabiobaser
*/
.gwm_landingSection {
  position: relative;
  height: 100vh;
  width: 100%;
  /* vertically align its content */
  display: table;
  background: #c03b44;
  overflow: hidden; }

.gwm_landingSection_content {
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 5%;
  margin-top: 0;
  background: #c03b44; }
  .gwm_landingSection_content h1 {
    font-size: 2.4rem;
    color: #ffffff; }
  .gwm_landingSection_content p {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 1em 0;
    color: #d3767c; }
  .gwm_landingSection_content .action-wrapper {
    display: inline-block; }
    .gwm_landingSection_content .action-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .gwm_landingSection_content .action-wrapper > * {
    float: left; }
  @media only screen and (min-width: 768px) {
    .gwm_landingSection_content h1 {
      font-size: 5.2rem;
      font-weight: 300; }
    .gwm_landingSection_content p {
      font-size: 1.6rem;
      margin: 1.5em 0 1.9em; } }

.gwm_landingSection.video {
  display: block; }

.video.gwm_landingSection_content {
  display: block;
  height: 100%;
  position: relative; }
  .video.gwm_landingSection_content * {
    opacity: 1; }
  .video.gwm_landingSection_content .gwm_landingSection_svgWrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0; }
  .video.gwm_landingSection_content svg {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.8; }
    .video.gwm_landingSection_content svg.svg-mask {
      /* this is the svg mask used on desktop version */
      display: none; }
  .video.gwm_landingSection_content p, .video.gwm_landingSection_content .action-wrapper {
    position: absolute;
    z-index: 3;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .video.gwm_landingSection_content p {
    bottom: calc(50% + 80px);
    margin: 0;
    color: #303e49;
    min-width: 90%; }
  .video.gwm_landingSection_content .action-wrapper {
    top: calc(50% + 120px);
    min-width: 295px; }
  .video.gwm_landingSection_content .cd-btn {
    background-color: rgba(48, 62, 73, 0.4); }
    .video.gwm_landingSection_content .cd-btn.main-action {
      background-color: #75ce66; }
  @media only screen and (min-width: 768px) {
    .video.gwm_landingSection_content svg.svg-mask-mobile {
      display: none; }
    .video.gwm_landingSection_content svg.svg-mask {
      display: block; }
    .video.gwm_landingSection_content p {
      bottom: calc(50% + 40px); }
    .video.gwm_landingSection_content .action-wrapper {
      top: calc(50% + 80px); } }

.gwm_landingSection_videoWrapper {
  /* background cover video */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  overflow: hidden;
  background: url(../assets/bg-img.jpg) no-repeat center center;
  background-size: cover; }
  .gwm_landingSection_videoWrapper video {
    /* you won't see this element in the html, but it will be injected using js */
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto; }
  .gwm_landingSection_videoWrapper::after {
    /* never visible - this is used in jQuery to check the current MQ */
    display: none;
    content: 'mobile'; }
  @media only screen and (min-width: 768px) {
    .gwm_landingSection_videoWrapper::after {
      content: 'desktop'; } }

.content {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative; }

.contactSection {
  min-height: 100%; }

.contactButtonWrapper {
  padding: 0;
  margin: 0;
  height: 500px; }
  .contactButtonWrapper a {
    color: #141417; }
  .contactButtonWrapper a:hover > .contactLeft {
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.4); }
  .contactButtonWrapper a:hover > .contactLeft > .contactIcon {
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.4); }
  .contactButtonWrapper a:hover > .contactRight {
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.4); }
  .contactButtonWrapper a:hover > .contactRight > .contactIcon {
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.4); }
  .contactButtonWrapper .contactLeftWrapper {
    display: inline-block;
    width: 30%;
    margin: 0;
    padding: 0; }
    .contactButtonWrapper .contactLeftWrapper .contactLeft {
      padding: 0;
      margin: 0;
      margin-right: 60px;
      background: white;
      height: 60px;
      width: 500px;
      box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);
      transition: all .3s ease-in-out;
      margin-bottom: 20px;
      margin-top: 20px; }
      .contactButtonWrapper .contactLeftWrapper .contactLeft:last-child {
        margin-bottom: 0px;
        margin-top: 20px; }
      .contactButtonWrapper .contactLeftWrapper .contactLeft:first-child {
        margin-bottom: 20px;
        margin-top: 0px; }
      .contactButtonWrapper .contactLeftWrapper .contactLeft .contactText {
        padding: 0;
        margin: 0;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: right;
        padding-right: 40px; }
      .contactButtonWrapper .contactLeftWrapper .contactLeft .contactIcon {
        padding: 0;
        margin: 0;
        background: #363636;
        height: 60px;
        width: 60px;
        position: absolute;
        right: -60px;
        top: 0;
        box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);
        transition: all .3s ease-in-out; }
        .contactButtonWrapper .contactLeftWrapper .contactLeft .contactIcon i {
          font-size: 25px;
          line-height: 60px;
          color: white; }
  .contactButtonWrapper .contactRightWrapper {
    display: inline-block;
    width: 30%;
    margin: 0;
    padding: 0; }
    .contactButtonWrapper .contactRightWrapper .contactRight {
      padding: 0;
      margin: 0;
      margin-left: 60px;
      background: white;
      height: 60px;
      width: 500px;
      box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);
      transition: all .3s ease-in-out;
      margin-bottom: 20px;
      margin-top: 20px; }
      .contactButtonWrapper .contactRightWrapper .contactRight:last-child {
        margin-bottom: 0px;
        margin-top: 20px; }
      .contactButtonWrapper .contactRightWrapper .contactRight:first-child {
        margin-bottom: 20px;
        margin-top: 0px; }
      .contactButtonWrapper .contactRightWrapper .contactRight .contactText {
        padding: 0;
        margin: 0;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: left;
        padding-left: 40px; }
      .contactButtonWrapper .contactRightWrapper .contactRight .contactIcon {
        padding: 0;
        margin: 0;
        background: #363636;
        height: 60px;
        width: 60px;
        position: absolute;
        left: -60px;
        top: 0;
        box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);
        transition: all .3s ease-in-out; }
        .contactButtonWrapper .contactRightWrapper .contactRight .contactIcon i {
          font-size: 25px;
          line-height: 60px;
          color: white; }

.siteEnd {
  background: #363636;
  margin: 0;
  padding: 0;
  text-align: center; }
  .siteEnd h1 {
    font-family: 'Impact', sans-serif;
    font-size: 10vw;
    color: white;
    margin: 0;
    padding: 0;
    padding-bottom: 200px;
    transition: all .2s ease-in-out; }
    .siteEnd h1:hover {
      color: #FF0066; }
    .siteEnd h1:hover > span {
      color: white; }
    .siteEnd h1 span {
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 6vw;
      transition: all .3s ease-in-out; }
  .siteEnd ul {
    padding-top: 50px;
    padding-bottom: 100px; }
    .siteEnd ul li {
      display: inline-block; }
      .siteEnd ul li a {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 25px; }

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1030px;
  list-style: none;
  text-align: center; }
  .grid h1 {
    padding-left: 0.5em;
    font-size: 22px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 100px; }

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 300px;
  max-height: 360px;
  width: 48%;
  height: auto;
  background: #FF0066;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.4); }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  filter: brightness(50%); }

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure h2,
.grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
  text-transform: none; }

/*-----------------*/
/***** Apollo *****/
/*-----------------*/
figure.effect-apollo {
  background: #E74c3c; }

figure.effect-apollo img {
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1); }

figure.effect-apollo figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0); }

figure.effect-apollo p {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3em;
  padding: 0 1em;
  max-width: 350px;
  font-size: 12px;
  border-right: 4px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

figure.effect-apollo h2 {
  text-align: left; }

figure.effect-apollo:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0); }

figure.effect-apollo:hover p {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.aboutContent {
  width: 50%;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: left;
  font-family: "Roboto", sans-serif; }
  .aboutContent h1 {
    color: #323232; }
  .aboutContent .bigLetter {
    font-size: 120%; }
  .aboutContent a {
    background: rgba(255, 0, 102, 0.6);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-font-smoothing: subpixel; }
