/*
Created by Fabio Baser
All rights reserved 2016
*/
/*
    Created on : 19.01.2017, 11:53:52
    Author     : fabiobaser
*/

/* Icons */
.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
}


/* Buttons */
.gwm_menuBtn {
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    color: inherit;

    img {
        width: 30px;
        filter: invert(0%);
        transition: all .5s ease-in-out;
    }
}

.gwm_menuBtn:focus {
    outline: 0;
}

.gwm_menuOpen {
    position: fixed;
    z-index: 100;
    top: 3vw;
    right: 3vw;
    color: #939391;
    pointer-events: visible;
}

.gwm_menuClose {
    position: absolute;
    top: 3vw;
    right: 3vw;
    font-size: 0.75em;
    z-index: 100;
}

/* Menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 400px;
    z-index: 100;

    a {
        text-decoration: none;
        color: #000;
        outline: none;
    }
}

.js .menu {
    pointer-events: none;
}

.js .menu--open {
    pointer-events: visible;
}

.gwm_menuInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 20vh 3em;
    margin: 0;
    background: #FF0066;
    overflow: hidden;
    text-transform: uppercase;
}

.gwm_menuItem {
    padding: 0.15em;
}

.js .gwm_menuItem {
    transform: translate3d(-13em,0,0);
    transition: transform 0s 0.4s;
}

.gwm_menuClose {
    opacity: 0;
}

.menu--open .gwm_menuItem,
.menu--open .gwm_menuClose {
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: opacity 0.4s 0.135s, transform 0.4s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu--open .gwm_menuItem:nth-child(2) {
    transition-delay: 0.165s;
}

.menu--open .gwm_menuItem:nth-child(3) {
    transition-delay: 0.195s;
}

.menu--open .gwm_menuItem:nth-child(4) {
    transition-delay: 0.225s;
}

.menu .gwm_menuLink {
    font-size: 4em;
    color: #FAFAFA;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.menu .gwm_menuLink:hover,
.menu .gwm_menuLink:focus {
    outline: none;
    color: #000;
}

.block-revealer__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    opacity: 0;
}
